/* === ROOT ===*/
/* == colors == */

:root {
  --bubblegum: #ffb2f3;
  --light-pink: #ffdff2;
  --red: #E84338;
  --ivy: #46BE77;
  --royal-blue: #437CD6;
  --off-black: #323232;
  --lavendar: #C794F9;
  --orange: #FB7A36;
  --light-grey: #BFBDBE;
  --cherry: #A42B36;
  --grape-soda: #AE5F99;
  --lemon: #FACA2A;
}

.bubblegum{
  color: var(--bubblegum)
}

body {
  padding: 0;
  background-color: var(--bubblegum) !important;
}

/* == fonts == */
h1 {
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 700 !important;
  font-style: normal;
  text-transform: uppercase;
  color: var(--off-black);
}

h2 {
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

h2 a {
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

h3 {
  font-family: courier-std, monospace;
  font-weight: 700;
  font-style: italic;
}

p {
  font-family: anonymous-pro, monospace;
  font-weight: 400;
  font-style: normal;
}

.page-title {
  text-align: center;
  margin: 0;
  padding: 0vH 2vW;
  font-size: 5em;
  background-color: var(--off-black);
  display: inline-block;
  border-radius: 0px 0px 10px 10px;
}
/* == spacing == */
.standard-spacing {
  padding: 0vH 5vW 2vH 5vW;
  border-top: 1px solid var(--off-black);
}

/* === NAVIGATION BAR ===*/

/* logo */
.logo-nav {
  width: 4vW;
  margin-right: 1vW;
}

.failspace-nav {
  height: 100%;
}

/* primary navigation spacing */

.primary-nav {
  display: flex;
  justify-content: space-around;
  background-color: var(--bubblegum);
  padding: 1vH 2vH 1vH 2vH;
}

.primary-nav-el {
  height: 8vH;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

/* primary navigation fonts */



/* sub navigation spacing */

.sub-nav {
  display: flex;
  justify-content: space-around;
  /* background-color: var(--bubblegum); */
}

#dsnav {
  display: flex;
  justify-content: flex-end;
  padding: 0vH 2vH 0vH 2vH;
}

#dssubnav {
  width: 33%;
}

#nycnav {
  display: flex;
  justify-content: center;
  padding: 0vH 2vH 0vH 2vH;
}

#nycsubnav {
  width: 40%;
}

/* sub navigation spacing */

.sub-nav h2 {
  color: var(--off-black);
  font-size: 1em;
}

.sub-nav a {
  text-decoration: none;
}

/* === Design Partners ===*/

.design-partners-display {
  display: flex;
  justify-content: space-around;
}

.design-partner {
  display: flex;
  flex-direction: column;
  width: 35vW;
}

.portrait {
  /* fThis will become a mask */
  border-radius: 30px;
  width: 50%;
}

@keyframes pagetransition {
  0% { 
    transform: rotate(0deg);
  } 
  100% { 
    transform: rotate(90deg);
  } 
}

.page-transition {
  width: 100vW;
  height: 100vH;
  z-index: 999;
  background-color: var(--bubblegum);
  position: absolute;
  animation: pagetransition 3s forwards 1 ;
  transform-origin: left bottom;
  /* transition: transform 3s; */
}

/* === CONTACT ===*/

.contact-form {
  border: 1px solid var(--off-black);
  border-radius: 20px;
  margin-top: 5vH;
  padding: 5vH 8vW;
  display: flex;
  background-color: var(--off-black);
}

.contact-input {
  background-color: transparent;
  margin-top: 2vH;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--bubblegum);
  width: 30vW;
  outline: none;
}

.contact-input:focus {
  border-bottom: 1px solid var(--ivy);

}

.contact-info {
  display: flex;
  justify-content: space-between;
  width: 74vW;
}
input::placeholder{
  font-family: anonymous-pro, monospace;
  font-weight: 400;
  font-style: normal;
  color: var(--bubblegum)
}

input[type=text]{
  font-family: anonymous-pro, monospace;
  font-weight: 400;
  font-style: normal;
  color: var(--bubblegum);
}

input[type="checkbox"] {
  background-color: var(--bubblegum);
}

.textarea-input{
  background-color: transparent;
  margin-top: 2vH;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--bubblegum);
  width: 100%;
  outline: none;
  height: 20vH;
  margin-bottom: 0;
  resize: none;
}

textarea[type=text]{
  font-family: anonymous-pro, monospace;
  font-weight: 400;
  font-style: normal;
  color: var(--bubblegum);
}
textarea[type=text]:focus{
  border-bottom: 1px solid var(--ivy);

}
textarea::placeholder{
  font-family: anonymous-pro, monospace;
  font-weight: 400;
  font-style: normal;
  color: var(--bubblegum);
}

.checkboxes{
  margin: 2vH 0vW;
  display: flex;
  flex-direction: column;
}
.checkbox-name{
  font-family: anonymous-pro, monospace;
  font-weight: 400;
  font-style: normal;
  color: var(--bubblegum);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 2vH;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 50%;
}

.checkbox-name:hover input ~ .checkmark{
  background-color: var(--light-pink);
}

.checkbox-name input:checked ~ .checkmark {
  background-color: var(--ivy);
}
.checkbox-name input {
  display: flex;
  justify-content: center;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  margin-right: 2vW;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  position: relative;
  top: 0px;
  left: 0;
  height: 10px;
  width: 20px;
  border-radius: 15px;
  background-color: var(--bubblegum);
}

.checkmark:after {
  color: white;
  content: "";
  position: absolute;
  display: none;
}

.checkbox-name input:checked ~ .checkmark:after {
  display: block;
  text-align: center;
}

.form-button {
  margin-top: 2vH;
  background-color: var(--bubblegum);
  padding: 2vH 8vW;
  border: none;
  border-radius: 0px 0px 5px 5px;
  text-transform: uppercase;
  font-family: nimbus-sans-extended, sans-serif;
  color: var(--off-black)
}

.form-button:hover{
  background-color: var(--ivy);
}


/* === CONNECT ===*/
.connect-page {
  display: flex;
  justify-content: space-between;
  margin-top: 5vH;
}

.community-block{
  width: 40vW;
}

.collaborations-block{
  width: 40vW;
}

.connect-form {
  border: 1px solid var(--off-black);
  border-radius: 20px;
  padding: 5vH 2vW;
  display: flex;
  background-color: var(--off-black);
}