/* === ROOT ===*/

@font-face {
  font-family: "Party";   /*Can be any text*/
  src: local("Party"),
    url("./fonts/sk-akademkniga-trial.ttf") format("truetype");
}

/* == colors == */

:root {
  --bubblegum: #ffb2f3;
  --light-pink: #ffdff2;
  --red: #E84338;
  --ivy: #46BE77;
  --royal-blue: #437CD6;
  --off-black: #323232;
  --lavendar: #C794F9;
  --orange: #FB7A36;
  --light-grey: #BFBDBE;
  --cherry: #A42B36;
  --grape-soda: #AE5F99;
  --lemon: #FACA2A;
}

.bubblegum{
  color: var(--bubblegum);
}

.bg-bubblegum {
  background-color: var(--bubblegum);
}

.light-pink {
  color: var(--light-pink);
}

.bg-light-pink {
  background-color: var(--light-pink);
}

.bg-ivy-gradient {
  background: linear-gradient(290deg, white 0%, white 26%, var(--ivy) 20%);
}

.ivy-text {
  color: var(--ivy);
}

.bg-ivy {
  background-color: var(--ivy);
}

.lemon-text {
  color: var(--lemon)
}

.bg-royal-blue {
  background-color: var(--royal-blue);
}

.bg-royal-blue-gradient {
  background: linear-gradient(290deg, white 0%, white 26%, var(--royal-blue) 20%);
}

.royal-blue-text {
  color: var(--royal-blue)
}

.orange-text {
  color: var(--orange);
}

.bg-orange {
  background-color: var(--orange);
}

.bg-orange-gradient {
  background: linear-gradient(290deg, white 0%, white 26%, var(--orange) 20%);
}

.bg-lemon {
  background-color: var(--lemon);
}

.bg-lemon-gradient {
  background: linear-gradient(290deg, white 0%, white 20%, var(--lemon) 20%);
}

.bg-lavendar {
  background-color: var(--lavendar);
}

.bg-lavendar-gradient {
  background: linear-gradient(290deg, white 0%, white 26%, var(--lavendar) 20%);
}

.bg-grape-soda {
  background-color: var(--grape-soda);
}

.bg-grape-soda-gradient {
  background: linear-gradient(290deg, white 0%, white 26%, var(--grape-soda) 20%);
}

body {
  padding: 0;
}

/* == fonts == */
h1 {
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 700 !important;
  font-style: normal;
  text-transform: uppercase;
  color: var(--off-black);
}

h2 {
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

h2 a {
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

h3 {
  font-family: courier-std, monospace;
  font-weight: 700;
  font-style: italic;
}

h4 {
  font-family: courier-std, monospace;
  font-weight: 700;
  font-style: italic;
  font-size: 1em !important;
}

p {
  font-family: anonymous-pro, monospace;
  font-weight: 400;
  font-style: normal;
}

li {
  font-family: anonymous-pro, monospace;
  font-weight: 400;
  font-style: normal;
}

ul {
  padding: 0px;
  margin: 0px;
}

.page-title {
  text-align: center;
  margin: 0;
  padding: 0vH 2vW;
  font-size: 5em;
  background-color: var(--off-black);
  display: inline-block;
  border-radius: 0px 0px 10px 10px;
}

/* == spacing == */
.standard-spacing {
  padding: 0vH 5vW 2vH 5vW;
  border-top: 1px solid var(--off-black);
}

.half {
  width: 50%;
}

.flex {
  display: flex;
}

.start {
  justify-content: flex-start;
}

.end {
  justify-content: flex-end;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
}

.col-center {
  align-items: center;
}

.space-btwn {
  justify-content: space-between;
}

.full-width {
  width: 100%;
}

.scroll {
  overflow: scroll;
}

.zero-margin {
  margin: 0;
}

/* === NAVIGATION BAR ===*/

/* logo */
.logo-nav {
  width: 4vW;
  margin-right: 1vW;
}

.failspace-nav {
  height: 100%;
}

/* primary navigation spacing */

.primary-nav {
  display: flex;
  justify-content: space-around;
  background-color: var(--bubblegum);
  padding: 1vH 2vH 1vH 2vH;
}

.primary-nav-el {
  height: 8vH;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

/* primary navigation fonts */



/* sub navigation spacing */

.sub-nav {
  display: flex;
  justify-content: space-around;
  /* background-color: var(--bubblegum); */
}

#dsnav {
  display: flex;
  justify-content: flex-end;
  padding: 0vH 2vH 0vH 2vH;
}

#dssubnav {
  width: 33%;
}

#nycnav {
  display: flex;
  justify-content: center;
  padding: 0vH 2vH 0vH 2vH;
}

#nycsubnav {
  width: 40%;
}

/* sub navigation spacing */

.sub-nav h2 {
  color: var(--off-black);
  font-size: 1em;
}

.sub-nav a {
  text-decoration: none;
}

/* === Design Partners ===*/

.design-partners-display {
  display: flex;
  justify-content: space-around;
}

.design-partner {
  display: flex;
  flex-direction: column;
  width: 35vW;
}

.portrait {
  /* fThis will become a mask */
  border-radius: 30px;
  width: 50%;
  height: auto;
}

/* === FOOTER ===*/
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vH 0vW;
  background-color: var(--light-pink);
}

.footer p {
  margin: 0;
}

.social-media-logo{
  width: 3vW;
}

.newsletter-form {
  width: 60vW;
  border: 1px solid var(--off-black);
  border-radius: 10px;
  padding: 2vH 3vW;
}

.newsletter-input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid var(--off-black);
  background-color: transparent;
  outline: none;
  display: flex;

}

.form-spacing{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 54vW;
}

.newsletter-input::placeholder {
  color: var(--off-black);
}

.newsletter-input[type="text"] {
  color: var(--off-black);
}

.newsletter-input:focus {
  border-bottom: 1px solid var(--royal-blue);
}

.footer-button {
  background-color: var(--off-black);
  padding: 1vH 1vW;
  border: none;
  border-radius: 5px 5px 5px 5px;
  text-transform: uppercase;
  font-family: nimbus-sans-extended, sans-serif;
  color: var(--light-pink)
}

.footer-button:hover {
  color: var(--royal-blue)

}
/* === PORTFOLIO ===*/

.portfiolio-page {
  display: flex;
  flex-direction: column;
}

.portfiolio-center {
  display: flex;
  justify-content: center;
  height: 50vW;
}

.portfolio-index {
  border: 1px solid var(--off-black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90vH;
  height: 50vW;
  transform: rotate(90deg);

}
.portfolio-comp {
  display: flex;
  flex-direction: column-reverse; 
  align-items: center;
  width: 90vW;
}
.portfolio-title {
  border: 1px solid var(--off-black);
  width: 90vH;
  height: 15vH;
  transition: height 800ms ease-in-out;
  text-align: right;
}

.portfolio-title:hover {
  height: 20vH;
  transition: height 800ms ease-in-out;
  /* height: 20vH;
  transition: height 3s ease-in-out; */
}

.portfolio-show {
  display: flex;
  width: 90vW;
  align-items: stretch;

}

.portfolio-tab {
  height: 100%;
  width: 3vW;
  margin-right: 3vW;
}

.portfolio-text {
  width: 55vW;
}

.porfolio-images {
  display: flex;
  flex-direction: column;
  width: 80vW;
  align-items: center;
}

.portfolio-img {  
  width: 100%;
  margin-top: 8vH;
  /* box-shadow: 3px 2px 3px 1px var(--off-black); */
}

.CPR-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60vW;
  margin: 8vH 0vW;
}

.portfolio-logo {
  max-width: 10vW;
  margin-top: 2vH;
}

.portfolio-logo-lg {
  max-width: 45vW;
}

.portfolio-comp {
  display: flex;
}

.portfolio-desc {
  display: flex;
  margin: 0vH 0vW 0vH 2vW;
  width: 60vW;
}

/* === SERVICES ===*/

.services-page {
  margin-top: 5vH;
  width: 90vW;
  height: 90vH;
  border: 1px solid var(--off-black);
  display: flex;
}

.service-list{
  width: 35vW;
  height: 90vH;
  border-right: 1px solid var(--off-black);
}
.service {
  padding: 1vH 0vW 1vH 1vW;
  border-bottom: 1px solid var(--off-black);
}

.service:hover{
  cursor: pointer;
}

.table-description{
  width: 55vW;
  height: 90vH;
}

.table-heading {
  background-color: var(--off-black);
  padding: 0vH 2vW 0vH 2vW;
  margin: 0;
}

.table-heading h3 {
  margin: 0;
}

.ivy:hover{
  background-color: var(--ivy);
}

#lemon:hover{
  background-color: var(--lemon);
}

#royal-blue:hover{
  background-color: var(--royal-blue)
}

#royal-blue:checked{
  background-color: var(--royal-blue)
}

#orange:hover{
  background-color: var(--orange);
}

#grape-soda:hover{
  background-color: var(--grape-soda);
}

#lavendar:hover{
  background-color: var(--lavendar);
}
/* === CONTACT ===*/

.contact-form {
  border: 1px solid var(--off-black);
  border-radius: 20px;
  margin-top: 5vH;
  padding: 5vH 8vW;
  display: flex;
  background-color: var(--off-black);
}

.contact-input {
  background-color: transparent;
  margin-top: 2vH;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--bubblegum);
  width: 30vW;
  outline: none;
}

.contact-input:focus {
  border-bottom: 1px solid var(--ivy);

}

.contact-info {
  display: flex;
  justify-content: space-between;
  width: 74vW;
}
input::placeholder{
  font-family: anonymous-pro, monospace;
  font-weight: 400;
  font-style: normal;
  color: var(--bubblegum)
}

input[type=text]{
  font-family: anonymous-pro, monospace;
  font-weight: 400;
  font-style: normal;
  color: var(--bubblegum);
}

input[type="checkbox"] {
  background-color: var(--bubblegum);
}

.textarea-input{
  background-color: transparent;
  margin-top: 2vH;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--bubblegum);
  width: 100%;
  outline: none;
  height: 20vH;
  margin-bottom: 0;
  resize: none;
}

textarea[type=text]{
  font-family: anonymous-pro, monospace;
  font-weight: 400;
  font-style: normal;
  color: var(--bubblegum);
}
textarea[type=text]:focus{
  border-bottom: 1px solid var(--ivy);

}
textarea::placeholder{
  font-family: anonymous-pro, monospace;
  font-weight: 400;
  font-style: normal;
  color: var(--bubblegum);
}

.checkboxes{
  margin: 2vH 0vW;
  display: flex;
  flex-direction: column;
}
.checkbox-name{
  font-family: anonymous-pro, monospace;
  font-weight: 400;
  font-style: normal;
  color: var(--bubblegum);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 2vH;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 50%;
}

.checkbox-name:hover input ~ .checkmark{
  background-color: var(--light-pink);
}

.checkbox-name input:checked ~ .checkmark {
  background-color: var(--ivy);
}
.checkbox-name input {
  display: flex;
  justify-content: center;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  margin-right: 2vW;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  position: relative;
  top: 0px;
  left: 0;
  height: 10px;
  width: 20px;
  border-radius: 15px;
  background-color: var(--bubblegum);
}

.checkmark:after {
  color: white;
  content: "";
  position: absolute;
  display: none;
}

.checkbox-name input:checked ~ .checkmark:after {
  display: block;
  text-align: center;
}

.form-button {
  margin-top: 2vH;
  background-color: var(--bubblegum);
  padding: 2vH 8vW;
  border: none;
  border-radius: 0px 0px 5px 5px;
  text-transform: uppercase;
  font-family: nimbus-sans-extended, sans-serif;
  color: var(--off-black)
}

.form-button:hover{
  background-color: var(--ivy);
}


/* === CONNECT ===*/
.connect-page {
  display: flex;
  justify-content: space-between;
  margin-top: 5vH;
}

.community-block{
  width: 40vW;
}

.collaborations-block{
  width: 40vW;
}

.connect-form {
  border: 1px solid var(--off-black);
  border-radius: 20px;
  padding: 5vH 2vW;
  display: flex;
  background-color: var(--off-black);
}

/* === STEERING COMMITTEE === */

.SC-container {
  width: 65vW;
}

.SC-member {
  border-top: 1px solid var(--off-black);
  border-radius: 0 30px 0 0;
  margin-top: 2vH;
}

.bio {
  width: 50%;
  padding-right: 2vW;
}

.section-heading {
  background-color: var(--off-black);
  color: var(--light-pink);
  font-family: ;
  padding: 0vH 5vW 0vH 5vW;
  margin: 0;
}

.section-heading h3 {
  margin: 0;
}

.side-column {
  width: 20VW;
}

.SC-info {
  border-left: 1px solid var(--off-black);
}

.SC-info h3 {
  font-size: 20px;
  background-color: var(--off-black);
  color: var(--light-pink);
  padding-left: 1vW;
}

.SC-portrait {
  width: 100%;
  border-radius: 30px;
}

.SC-info p {
  padding-left: 1vW;
}

.intro {
  margin: 5vH 0 2vH 0 !important;
}

/* === SUPPORT === */

.support-bttn {
  border: 1px solid var(--off-black);
  border-radius: 30px;
  width: 28vW;
  padding: 2vH 1vW 2vH 1vW;
}

.support-bttn h3 {
  font-size: 20px;
  margin: 0;
}

.support-bttn p {
  margin: 0;
}

.support-bttn:hover {
  background-color: var(--off-black);
  color: var(--bubblegum);
}

.support-line {
  border-right: 1px solid var(--off-black);
}

.support-div {
  height: 20vH;
  width: 50%;
}

.patreon-tiers {
  width: 75vW;
  background-color: var(--off-black);
  border-radius: 30px;
  padding: 4vH 2vW 4vH 2vW;
}

.patreon-tier {
  background-color: var(--bubblegum);
  border-radius: 30px;
  width: 15vW;
  padding: 2vH 1vW 2vH 1vW;
  margin-top: 2vH;
}

.patreon-tier h3 {
  font-size: 20px;
  margin-bottom: 0;
}

.patreon-tier p {
  margin: 0;
}

.patreon-bttns {
  margin-top: 2vH;
}

.patreon-bttn {
  display: block;
  height: 20vH;
  text-decoration: none;
  color: var(--off-black)
}

.perks {
  padding-left: 15px;
  margin-top: 0;
}

/* === PROGRAMS === */

.table-padding {
  padding: 2vH 2vW;
}

.mentorship-letter {
  background-color: white;
  padding: 2vH 2vW 1vH 2vW;
  border-radius: 30px;
}

.party-performer {
  border-top: 1px solid var(--off-black);
}

.party-performer p {
  background-color: var(--off-black);
  padding: 1vH 1vW;
  border-radius: 0 0 10px 10px;
  color: var(--orange)
}

.party {
  font-family: "Party";
}

.teaching-artist {
  border-top: 1px solid var(--off-black);
}

.teaching-artist p {
  background-color: var(--off-black);
  padding: 1vH 1vW;
  border-radius: 0 0 10px 10px;
  color: var(--royal-blue);
}

/* === PROGRAMS === */
.rsvp {
  width: 65vW;
  border-top: 1px solid var(--off-black);
  border-radius: 0 30px 0 0;
  margin-top: 2vH;
}

.rsvp-button {
  margin-top: 2vH;
  background-color: var(--off-black);
  padding: 1vH 1vW;
  border: none;
  border-radius: 5px 5px 5px 5px;
  text-transform: uppercase;
  font-family: nimbus-sans-extended, sans-serif;
  color: var(--light-pink);
  height: 10vH;
  width: 15vW;
}